<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="bootstrap.js">

<style>


body{
  background-image: url(movie-page.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: new times roman;
}

.card{
  background: rgba(214,163,106,0.26);
  color: white;
  display:block;     
  margin: auto;
  width: auto;
  font-size: 15px;
}
.card:hover{
background :rgba(249,201,148,0.6);
}

.card-title{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: #3a0404;
}

.card-text{
  text-align: center;
  margin-bottom: 5px;
  margin-left: auto;
  font-size: 15px;
  color:#3a0404;
}

.card-link{
  text-align: center;
  background: rgba(74,28,19,0.75);
  color: white;
  border: 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  display:inline-block;    
  font-size: 15px;
}

.card-link:hover{
   background:  rgba(74,28,19,0.95);
}


.comment-link{
  text-align: center;
  background: rgba(191,157,89,0.98);
  color:  #3a0404;
  border: 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: auto;
  display:inline-block;    
  font-size: 15px;
}

.comment-link:hover{
   background: rgba(191,157,89,0.100);
}



.btn-topright{
  background: rgb(107,56,56);
  color: white;
  border: 20px;
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 88%;
  font-size: 19px;
  width: 200px;
}

.btn-topright:hover{
   background: rgb(80,1,5);
}
.buy-link
{
  margin-left: 50px;
  text-align: center;
  background: rgba(74,28,19,0.75);
  color: white;
  border: 20px;
  border-radius: 5px;
  display:block;    
  font-size: 15px;
}

.buy-link:hover{
  background: rgba(191,157,89,0.100);
}

.remove-link
{
  margin-left: 25px;
  text-align: center;
  background: rgba(74,28,19,0.75);
  color: white;
  border: 20px;
  border-radius: 5px;
  display:block;    
  font-size: 15px;
}

.remove-link:hover{
  background: rgba(191,157,89,0.100);
}




.center{
  margin: auto;
  text-align: center;
  color: white;
  display:block;    
  margin-top: 50px; 
  font-size: 19px;
  width: 850px;
}


.header{
  background: rgba(214,163,106,0.26);
  color: black;
  display:block;     
  margin: auto;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}




h1{
  text-align: center;
  font-size: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

</style>
</head>
  <body>
 
<div class = "container-fluid">
  <div class="sticky-top">
    <form action="/home" method="POST">
      <button type="submit" class="btn btn-topright" >Logout</button>
    </form>
    <form action="/profile" method="POST">
      <button type="submit" class="btn btn-topright" >Profile</button>
    </form>
  </div>
    
  <%
  if(stoi(context["number_of_movies"]) > 0)
  {
  %>
  <div class="center">
    <h1 class="header"> details of movie </h1>
      <div class="card" ;>
        <h5 class="card-title"><% cout <<context["name"] ;%></h5>
          <p class="card-text"> director : <% cout <<context["director"] ;%></p>
          <p class="card-text"> summary : <% cout <<context["summary"] ;%></p>
          <p class="card-text"> year : <% cout <<stoi(context["year"]) ;%></p>
          <p class="card-text"> rate : <% cout <<stod(context["rate"]) ;%></p>
          <p class="card-text"> length : <% cout <<stoi(context["length"]) ;%></p>
          <p class="card-text"> price : <% cout <<stod(context["price"]) ;%></p>
          <form action="/comment-movie" method="POST" >
            <input type="text" name="comment" placeholder="your comment" class="comment-link" required>
            <input type="hidden" name="film_id" value="<%cout <<  context["film_id"] ;%>" >
            <button type="submit" class="comment-link">Comment</button>
          </form>
          <form action="/rate-movie" method="POST" >
            <input type="number" name="rate" min="1" max="10" step="1" placeholder="rate" class="comment-link" required>
            <input type="hidden" name="film_id" value="<%cout <<  context["film_id"] ;%>" >
            <button type="submit" class="comment-link">Rate</button>
          </form>
          <form action="/remove-movie" method="POST" >
            <button type="submit" class="remove-link">Delete movie</button> 
            <input type="hidden" name="film_id" value="<% cout << context["film_id"]; %>" >
          </form>
          <form action="/buy-movie" method="POST" >
            <input type="hidden" name="film_id" value="<%cout <<  context["film_id"] ;%>" >
            <button type="submit" class="buy-link">Buy</button>
          </form>
      </div>
  </div>         
  <% } %>



  <div class="center">
    <h1 class="header"> recommended movies </h1>
      <%
      if(stoi(context["number_of_recommended_movies"]) > 0)
      {
      %>
        <% for(int h =0; h<stoi(context["number_of_recommended_movies"]); h++) { %>
          <div class="card";>            
            <h5 class="card-title"><% cout <<context["recommended_movies_name" + to_string(h)]; %></h5>
              <p class="card-text"> director : <% cout <<context["recommended_movies_director" + to_string(h)]; %></p>
              <p class="card-text"> year : <% cout <<stoi(context["recommended_movies_year" + to_string(h)]); %></p>
              <p class="card-text"> rate : <% cout <<stod(context["recommended_movies_rate" + to_string(h)]); %></p>
              <p class="card-text"> length : <% cout <<stoi(context["recommended_movies_length" + to_string(h)]); %></p>
              <p class="card-text"> price : <% cout <<stod(context["recommended_movies_price" + to_string(h)]); %></p>
              <form action="/movie-page" method="POST">
                <button type="submit" class="card-link">Movie Page</button>
                <input type="hidden" name="id" value= "<% cout << context["recommended_movies_film_id" + to_string(h)]; %>" >
              </form>
          </div>
        <% } %>               
      <% } %> 
  </div>



  <div class="center">
    <h1 class="header"> comments </h1>
      <%
      if(stoi(context["number_of_comments"]) > 0)
      {
      %>
        <% for(int h =0; h<stoi(context["number_of_comments"]); h++) { %>
          <div class="card";>            
           <h5 class="card-text"><% cout <<context["comments" + to_string(h)]; %></h5>
          </div>
      <% } %>               
    <% } %> 
  </div>

  
</div>

<br>
<br>
<br>
 
</div>
</body>
</html>

